# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
venv311/
.venv/

# Dataset (root only)
/DATASETS/

# Trained models (optional)
*.pt

# YOLO outputs
runs/

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db